.root{
    -fx-background-image: url("/sample/imgs/nopainnogain.jpg");
}
.root2{
    -fx-background-image: url("/sample/imgs/commidinhas.jpg");
}
.root3{
    -fx-background-image: url("/sample/imgs/rakin.jpg");
}
.root4{
    -fx-background-image: url("/sample/imgs/ee.jpg");
}
.root5{
    -fx-background-image: url("/sample/imgs/bemFit.jpg");
}
.root6{
    -fx-background-image: url("/sample/imgs/mulhercolored.jpg");
}
.root7{
    -fx-background-image: url("/sample/imgs/ok.jpg");
}